
.modal
	// position: fixed
	// z-index: 10001

	// top 0
	// left 0

	// width: 100%
	// height: @width

	// display flex
	// flex-flow: row wrap
	// justify-content: center
	// align-content: center
	// align-items: center

	// background: white

	// padding: base-margin
	// margin: base-margin auto



.modal
	display block
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	z-index: 10005

	overflow-y: auto
	text-align: center
	// background white

	&-small

		+screen-medium()
			// top 50%
			// bottom auto
			// left 50%
			// right auto
			// transform: translate(-50%, -50%)

			.grid > .width-1-1
				margin-top: 20px
	
			.modal-overflow
				background: alpha(#6A6A6A, .5)

			.modal-close
				position absolute

			.modal-header
				line-height: 1.8

			.modal-title
				margin-bottom: 20px

				a
					color inherit
					opacity .3

					transition: .3s $easing

					&:hover
						opacity 1
						text-decoration none

				span, a
					&:not(:first-child)
						display inline-block
						margin-left: 40px
				
			.modal-window
				background: white
				// padding: 
				width: 550px
				padding: 40px 80px


	&::before
		content: ''
		display: inline-block
		height: 100%
		vertical-align: middle
		// margin-right: -4px

	&-open
		// display flex
		// display block
	
	&:not(.active)
		border: 0
		clip: rect(0 0 0 0)
		clip-path: inset(50%)
		height: 1px
		margin: -1px
		overflow: hidden
		padding: 0
		position: absolute
		width: 1px
		white-space: nowrap
		opacity: 0
		background transparent


	&-overflow
		position fixed

		top 0
		left 0

		height: 100%
		width: @height
		z-index: -1

		opacity: 0
		background white

		&:not(.active)
			border: 0
			clip: rect(0 0 0 0)
			clip-path: inset(50%)
			height: 1px
			margin: -1px
			overflow: hidden
			padding: 0
			position: absolute
			width: 1px
			white-space: nowrap
			opacity: 0
			background transparent



	&-window
		display: inline-block
		position relative

		opacity: 0

		width: 99%
		margin: 1% auto

		text-align: left
		vertical-align: middle

		color #333


	&-close
		position fixed
		top 40px
		right @top

		color #D5D5D5
		font-size: 26px
		line-height: 1
		z-index 10001

		a
			color inherit
			transition: .25s

			&:hover
				color black
				text-decoration none
		
	&-header
		max-width 470px
		font-size: 16px


	&-title
		font-size: 32px
		font-weight: 700
		margin-bottom: 30px

	&-body
		// padding base-margin
