//========================================================================
// Component: Utility
//========================================================================

// Container
//========================================================================

.container
	width: 100%
	padding: 0 base-margin

	margin-left: auto
	margin-right: auto

	clearfix()

	+screen-medium()
		max-width: utility-container-max-width


// Clearing
//==========================================================================

// Micro clearfix `table-cell` is used with `:before` because `table` creates a 1px gap when it becomes a flex item, only in Webkit `table` is used again with `:after` because `clear` only works with block elements. Note: `display: block` with `overflow: hidden` is currently not working in the latest Safari
.clearfix
	clearfix()

// Alignment of block elements
//==========================================================================

// Float blocks
.float-left
	float: left

.float-right
	float: right

// Prevent content overflow on small devices
[class*='float-']
	max-width: 100%

// Alignment of images and objects
//==========================================================================

.aligncenter,
.alignleft,
.alignright
	margin-left: auto
	margin-right: auto

	img&
		display block


.alignleft
	margin-right: base-margin
	margin-bottom: base-margin
	float: left

.alignright
	margin-left: base-margin
	margin-bottom: base-margin
	float: right


/* Margin
 ========================================================================== */

// Create a block with the same margin of a paragraph
// Add margin if adjacent element

.margin + .margin
	margin-top: base-margin

.margin-top
	margin-top: base-margin
.margin-bottom
	margin-bottom: base-margin
.margin-left
	margin-left: base-margin
.margin-right
	margin-right: base-margin


// Link
//==========================================================================

// Reset link style
.link-reset,
.link-reset:hover
	color: inherit
	text-decoration: none

// Display
//==========================================================================

// Display
.display-block {display: block}
.display-inline {display: inline}
.display-inline-block {display: inline-block}
.inline-flex { display: inline-flex }

// Remove from the flow and screen readers on any device
.hidden
	// display: none !important
	hide()

.visible-medium
	display none
	
	@media only screen and (min-width: breakpoint-medium)
		display block

