// Global variables
// ========================================================================

// Color
// ========================================================================

color-white                 = #fff

color-lighter               = #f1f3f4
color-light                 = #666D75

color-dark                  = #717171
color-darken                = #3b3b3b

color-info                  = #8d1873
color-info-lighter          = lighten(color-info, 15%)
color-info-darken           = darken(color-info, 15%)

color-primary               = #0072a6
color-primary-lighter       = lighten(color-primary, 15%)
color-primary-darken        = darken(color-primary, 15%)

color-success               = #2ecc71
color-success-lighter       = lighten(color-success, 15%)
color-success-darken        = darken(color-success, 15%)

color-warning               = #d44c51
color-warning-lighter       = lighten(color-warning, 15%)
color-warning-darken        = darken(color-warning, 15%)

color-danger                = #DC2F3C
color-danger-lighter        = lighten(color-danger, 15%)
color-danger-darken         = darken(color-danger, 15%)

$easingHover = cubic-bezier(0.785, 0.135, 0.15, 0.86)
$easing = cubic-bezier(1, 0, 0, 1)

// Social
// ========================================================================

color-vk                    = #4B74A5
color-ok                    = #ed812b
color-facebook              = #3B5998
color-twitter               = #00aced
color-google-plus           = #dd4b39
color-youtube               = #bb0000
color-linkedin              = #007bb6
color-instagram             = #517fa4
color-whatsapp              = #4dc247
color-pinterest             = #cb2027
color-telegram              = #0088cc
color-vine                  = #00bf8f
color-snapchat              = #fffc00
color-quora                 = #a82400
color-dropbox               = #007ee5
color-flickr                = #ff0084
color-tumblr                = #32506d
color-vimeo                 = #aad450
color-foursquare            = #0072b1
color-booking               = #003877
color-tripadvisor           = #5a9645

// Base
// ========================================================================

base-body-background                = #fff//#f6f6f6
base-body-font-family               = 'Roboto', Helvetica, Arial, sans-serif
base-body-font-weight               = 400
base-body-font-size                 = 16px
base-body-line-height               = 1.6
base-body-color                     = #000

base-link-color                     = color-primary
base-link-text-decoration           = none
base-link-hover-color               = color-primary
base-link-hover-text-decoration     = underline

base-code-color                     = #D05
base-code-font-size                 = .9em
base-code-font-family               = Consolas, monospace, serif
// base-em-color                       = #D05
base-ins-background                 = #ffa
base-ins-color                      = #444
base-mark-background                = #ffa
base-mark-color                     = #444
base-quote-font-style               = italic

base-margin                         = 15px
base-margin-medium                  = base-margin * 2
base-margin-large                   = base-margin * 3

base-heading-font-family            = 'Roboto', Helvetica, Arial, sans-serif
base-heading-font-weight            = 500
base-heading-line-height            = 1.1
base-heading-color                  = inherit
base-heading-text-transform         = none
base-heading-margin-top             = base-margin

base-h1-font-size                   = 44px
base-h2-font-size                   = 36px
base-h3-font-size                   = 24px
base-h4-font-size                   = 18px
base-h5-font-size                   = 16px
base-h6-font-size                   = 14px

base-list-padding-left              = base-margin

base-hr-margin-vertical             = base-margin-vertical
base-hr-border                      = #ddd
base-hr-border-width                = 1px

base-blockquote-padding-left        = base-margin
base-blockquote-border              = #ddd
base-blockquote-border-width        = 3px
base-blockquote-font-family         = 'Bitter', base-body-font-family
base-blockquote-font-size           = inherit
base-blockquote-line-height         = base-body-line-height
base-blockquote-font-style          = italic

base-pre-padding                    = 10px
base-pre-background                 = #f5f5f5
base-pre-color                      = #444
base-pre-font-size                  = rem(12px)
base-pre-line-height                = 1.4
base-pre-font-family                = base-code-font-family

base-selection-background           = color-success
base-selection-color                = inherit

// Text
// ========================================================================

text-small-font-size        = 12px
text-small-line-height      = 1.4

text-large-font-size        = 18px
text-large-line-height      = 1.4

text-primary               = #1d3845
text-success               = color-success
text-warning               = color-warning
text-danger                = color-danger

// Header
// ========================================================================

header-background               = black
header-color                    = white
header-link-color               = inherit
header-link-color-hover         = color-primary

header-height                   = 55px

// Form
// ========================================================================

form-height                    = 56px
form-padding                   = 14px
form-font-size                 = 20px

form-border-radius             = 2px

form-label                     = base-body-color
form-label-font-size           = base-body-font-size

form-border                    = base-body-color
form-background                = #fff
form-color                     = base-body-color

form-focus                     = #ccc
form-disabled                  = #ddd
form-placeholder               = #919191
form-error                     = color-info
form-success                   = color-primary

// Grid
// ========================================================================

grid-gutter                    = base-margin
grid-columns                   = 1 2 3 4 5 6 7 8 9 10 12 30


// Utility
// ========================================================================

utility-container-max-width    = 1200px


breakpoint-medium              = rem(641px)