//========================================================================
// Component: Breadcrumb
//========================================================================

.breadcrumb
	padding: (base-margin / 1.9) 0
	color: #717171
	font-size: 14px
	font-weight: 400
	line-height 20px

	&-container
		background-color: #f7f7f7

	.icon
		display inline-block
		margin 0 3px
		// vertical-align middle
		font-size .7em
		line-height inherit

	a,
	span
		display inline-block
		color inherit

