//========================================================================
// Component: Pagination
//========================================================================

.pagination

	.page-numbers
		display inline-block
		color inherit

		width 25px
		line-height @width
		text-align center

		color: #393939
		background-color: #ededed

		&:hover,
		&:active
			text-decoration none

		&.current
			box-shadow inset 0 0 0 1px #0072a6
			color: #0072a6
			background-color: white

