/* ========================================================================
   Component: Text
 ========================================================================== */

/* Size modifiers
 ========================================================================== */

.text-small
	font-size: text-small-font-size
	line-height: text-small-line-height

.text-large
	font-size: text-large-font-size
	line-height: text-large-line-height
	// font-weight: text-large-font-weight

.text-row, .text-world, .text-char
	display inline-block
	white-space: pre-wrap

// Weight modifiers
//==========================================================================

.text-bold
	font-weight: 800

.text-semibold
	font-weight: 600

.text-uppercase
	text-transform uppercase


// Color modifiers
//==========================================================================

.text-inherit
	color: inherit

.text-info
	color: color-info
.text-primary
	color: color-primary
.text-success
	color: color-success
.text-warning
	color: color-warning
.text-danger
	color: color-danger


// Alignment modifiers
//==========================================================================

.text-center
	text-align: center
.text-left
	text-align: left
.text-right
	text-align: right

.text-justify
	text-align: justify

.text-top
	vertical-align: top
.text-middle
	vertical-align: middle
.text-bottom
	vertical-align: bottom

+screen-medium()
	.text-center-medium
		text-align: center
	.text-left-medium
		text-align: left
	.text-right-medium
		text-align: right


// Wrap modifiers
//==========================================================================

// Prevent text from wrapping onto multiple lines
.text-nowrap
	white-space: nowrap

.text-pre
	white-space: pre

// Prevent text from wrapping onto multiple lines, and truncate with an ellipsis
.text-truncate
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap

// Break strings if their length exceeds the width of their container
.text-break
	word-wrap: break-word
	hyphens: auto
