//========================================================================
// Component: Utility
//========================================================================

// Container
//========================================================================

.container
	width: 100%
	padding: 0 base-margin

	margin-left: auto
	margin-right: auto

	clearfix()

	+screen-medium()
		max-width: utility-container-max-width


// Clearing
//==========================================================================

// Micro clearfix `table-cell` is used with `:before` because `table` creates a 1px gap when it becomes a flex item, only in Webkit `table` is used again with `:after` because `clear` only works with block elements. Note: `display: block` with `overflow: hidden` is currently not working in the latest Safari
.clearfix
	clearfix()

// Remove from the flow and screen readers on any device
.hidden
	// display: none !important
	hide()

.margin-bottom
	margin-bottom: 20px

.text-center
	text-align center