@import '../../styles/core/mixin.scss';

.footer {
	position: relative;
	width: 100%;
	padding: rem(75px) 0 rem(50px);
	background: url('/img/footer-bg.svg') no-repeat top center / cover;

	@include medium {
		padding: rem(75px) 0 rem(50px)
	}
}


.inner {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding: 0 var(--margin);

	@include medium {
		flex-flow: row nowrap;
		justify-content: space-between;
	}
}


.logo {
	max-width: rem(240px);
	margin: 0 0 var(--margin);
	
	@include medium {
		flex: 0 0 rem(200px);
		max-width: none;
		margin: 0;
	}
}


.address {
	text-align: center;
	padding: 0 0 rem(25px);

	color: white;
	font-family: 'Aleo', Helvetica, Arial, sans-serif;
	font-size: rem(16px);
	line-height: rem(28px);

	> span {
		display: block;
	}

	> a {
		color: inherit;
		font-size: rem(25px);
	}
	
	@include medium {
		flex: 1 0 auto;
		padding: 0 rem(25px) 0 0;
		text-align: right;
	}
}


.call {
	// 
}