@import '../../styles/core/mixin.scss';

.container {
	padding: rem(80px) var(--margin);
}

.title {
	text-transform: uppercase;
	color: #464646;
	margin: 0 0 rem(10px);

	&::before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		background: url("data:image/svg+xml,%0A%3Csvg width='38px' height='46px' viewBox='0 0 38 46' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='snape' fill='%23FE6128'%3E%3Cpath d='M38,19.0802 C38,8.54269 29.4932,0 19,0 C8.5068,0 0,8.54269 0,19.0802 C0,24.3521 2.13281,29.1201 5.57444,32.5737 L5.56505,32.5831 L19.1057,46 L25.593,39.3974 L12.1937,26.1207 L12.2031,26.1112 C10.3756,24.3294 9.2363,21.8402 9.2363,19.0802 C9.2363,13.6657 13.6076,9.2759 18.9994,9.2759 C24.3911,9.2759 28.7625,13.6657 28.7625,19.0802 C28.7625,21.8402 27.6225,24.3294 25.7951,26.1112 L25.8032,26.1194 L22.4904,29.4914 L29.064,36.0047 L32.4337,32.5756 L32.4281,32.5699 C35.8685,29.1169 38,24.3502 38,19.0802 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center/contain;
		width: rem(38px);
		height: rem(46px);
		margin: 0 rem(15px) 0 0;
	}
}


.list {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}

.item {
	flex: 0 0 50%;
	padding: 0 rem(15px);
	margin: rem(40px) 0 0;

	@include medium {
		flex: 0 0 (100% / 4)
	}
	
	.inner {
		font-size: rem(14px);
		color: #464646;
		background: #f8f8f9;
		border-left: rem(3px) solid #fe6128;
		text-align: center;
		transform: skewX(-10deg);
		padding: rem(30px) rem(20px);
	}

	.label {
		font-size: rem(60px);
		font-style: italic;
		font-weight: 100;
	}
}


.hint {
	font-size: rem(14px);
	font-weight: 300;
	font-style: italic;
	margin: rem(25px) 0 0;

	> span {
		font-weight: bold;
		color: #fe6128;
	}
}


.call {
	margin: rem(40px) 0 0;
	text-align: center;
}