
table
	// Remove most spacing between table cells.
	border-collapse: collapse
	border-spacing: 0
	// Block element behavior
	width: 100%
	// Style
	// margin-bottom: base-margin

	// background: #fff
	// border 1px solid #dfdfdf

	// Add margin if adjacent element
	th, td
		padding: 5px 5px
		border 1px solid #dfdfdf

	// Set alignment
	th
		text-align: left

	td
		vertical-align: middle

		p
			margin 0

	thead
		// background: #f0f1f1
		// color: #606060
		th
			vertical-align: middle
			// text-align: center
			font-weight 500
			line-height 1.4
			// font-size: rem(11px)
			// color: color-success
			// font-size 1.05em
			// text-transform uppercase
			// padding: (table-padding-vertical*2) table-padding-horizontal

	tfoot
		background: #f0f1f1
		color: #606060
		tr
			vertical-align: middle
			// text-align: center
			font-weight 400
			// font-size: rem(11px)
			// color: color-success
			// font-size 1.05em
			// text-transform uppercase
			// padding: (table-padding-vertical*2) table-padding-horizontal

	tbody
		// font-size rem(14px)
		> tr
			transition .5s background ease
			&:not(:first-child)
				border-top 1px solid #dfdfdf

			&:nth-of-type(odd)
				// background: table-striped-background
