// Global variables
// ========================================================================

:root
	--margin: (15 / 16)rem

	@media only screen and (min-width: (641 / 16)px)
		--margin: (30 / 16)rem


$easing = cubic-bezier(0.785, 0.135, 0.15, 0.86)


// Base
// ========================================================================

base-body-background                = #fff//#f6f6f6
base-body-font-family               = 'Roboto', Helvetica, Arial, sans-serif
base-body-font-weight               = 400
base-body-font-size                 = 16px
base-body-line-height               = 1.6
base-body-color                     = #000

base-link-color                     = color-primary
base-link-text-decoration           = none
base-link-hover-color               = color-primary
base-link-hover-text-decoration     = underline

base-code-color                     = #D05
base-code-font-size                 = .9em
base-code-font-family               = Consolas, monospace, serif
// base-em-color                       = #D05
base-ins-background                 = #ffa
base-ins-color                      = #444
base-mark-background                = #ffa
base-mark-color                     = #444
base-quote-font-style               = italic

base-margin                         = 15px

base-heading-font-family            = 'Roboto', Helvetica, Arial, sans-serif
base-heading-font-weight            = 500
base-heading-line-height            = 1.1
base-heading-color                  = inherit
base-heading-text-transform         = none
base-heading-margin-top             = base-margin

base-h1-font-size                   = 44px
base-h2-font-size                   = 36px
base-h3-font-size                   = 24px
base-h4-font-size                   = 18px
base-h5-font-size                   = 16px
base-h6-font-size                   = 14px

base-list-padding-left              = base-margin

base-hr-margin-vertical             = base-margin-vertical
base-hr-border                      = #ddd
base-hr-border-width                = 1px

base-blockquote-padding-left        = base-margin
base-blockquote-border              = #ddd
base-blockquote-border-width        = 3px
base-blockquote-font-family         = 'Bitter', base-body-font-family
base-blockquote-font-size           = inherit
base-blockquote-line-height         = base-body-line-height
base-blockquote-font-style          = italic

base-pre-padding                    = 10px
base-pre-background                 = #f5f5f5
base-pre-color                      = #444
base-pre-font-size                  = rem(12px)
base-pre-line-height                = 1.4
base-pre-font-family                = base-code-font-family

base-selection-background           = color-success
base-selection-color                = inherit

// Text
// ========================================================================

text-small-font-size        = 12px
text-small-line-height      = 1.4

text-large-font-size        = 18px
text-large-line-height      = 1.4

text-primary               = #1d3845
text-success               = color-success
text-warning               = color-warning
text-danger                = color-danger


// Grid
// ========================================================================

grid-gutter                    = base-margin
grid-columns                   = 1 2 3 4 5 6 7 8 9 10 12 30


// Utility
// ========================================================================

breakpoint              = rem(641px)