@import '../../styles/core/mixin.scss';

.map {
	position: relative;
	padding: rem(70px) 0 0;
	margin-bottom: rem(-35px);
	// background: url(/img/map-bg.svg) no-repeat top center / auto
	// background: #eee

	@include medium {
		background: #eee;
		padding: rem(130px) 0;
	}
}

.inner {
	padding: 0 var(--margin);
}

.card {
	max-width: rem(410px);
	margin: 0 auto rem(70px);

	@include medium {
		position: relative;
		z-index: 1;
		background: #fff;
		box-shadow: rem(0px) rem(4px) rem(30px) rgba(0, 0, 0, 0.15);
		// max-width: rem(410px)
		margin: 0;
		padding: rem(40px) rem(50px);
	}
}

.wrap {
	width: 100%;
	height: rem(600px);
	background: #333;

	@include medium {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}
}



.logo {
	display: block;
	max-width: rem(200px);
	margin: 0 0 rem(35px);

	@include medium {
		max-width: rem(170px)
	}
}

// .map-hr
// 	margin: 15px 0
// 	border-bottom: 1px solid #EDE9E9

.address,
.time,
.navigate {
	// flex: 1 0 auto
	padding: 0 0 rem(15px);

	color: #464646;
	font-family: 'Aleo', Helvetica, Arial, sans-serif;
	font-size: rem(16px);
	line-height: rem(28px);

	> span {
		display: block;
	}

	> a {
		color: inherit;
		font-size: rem(30px);
	}
}

.time,
.navigate {
	padding: rem(15px) 0;
	border-top: rem(1px) solid #EDE9E9;
}

.time {
	font-size: rem(14px);

	> b {
		font-size: rem(20px);
	}
}

.navigate {

	> span {
		font-size: rem(14px);
	}

	> a {
		color: #464646;
		font-size: rem(18px);
		font-weight: 600;
		line-height: rem(28px);
	}

	@include medium {
		display: none;
	}
}

.call {
	text-align: center;
	margin: rem(15px) 0 0;
}

	