
@import 'lib/px2rem'

// Stylus related
@import 'core/mixin'
@import 'core/variables'

// Defaults
@import 'core/base'

// Icon
// @import 'icon/index'

// Layout
// @import 'core/grid'
// @import 'core/panel'
// @import 'core/article'
// @import 'core/section'
// @import 'core/block'
// @import 'core/comment'
// @import 'core/cover'

// Elements
// @import 'core/list'
// @import 'core/description-list'
// @import 'core/table'
// @import 'core/form'

// Common
// @import 'core/button'
// @import 'core/close'
// @import 'core/badge'
// @import 'core/alert'
// @import 'core/thumbnail'
// @import 'core/overlay'
// @import 'core/animation'
// @import 'core/share'


// Navs
// @import 'core/header'
// @import 'core/footer'
// @import 'core/sidebar'
// @import 'core/subnav'
// @import 'core/breadcrumb'
// @import 'core/pagination'
// @import 'core/tab'
// @import 'core/thumbnav'
// @import 'core/widget'


// JavaScript
// @import 'swiper/swiper'
// @import 'photoswipe/photoswipe'
// @import 'medium/medium-editor'
// @import 'zoom/zoom'
// @import 'core/dropdown'
// @import 'core/modal'
// @import 'core/offcanvas'
// @import 'core/switcher'
// @import 'js/owl'
// @import 'js/modal'
// @import 'js/algolia'
// @import 'js/imagezoom'

// @import 'block/*'

// Need to be loaded last
// @import 'core/text'
@import 'core/utility'
// @import 'core/print'


.header
	position absolute
	top 0
	left 0
	width: 100%

	padding: 30px 0 0

	background: #000
	color #b7b8bd

	&-inner
		display flex
		// align-items: center
		// justify-content: space-around

	+screen-medium()
		// 

.header-logo
	display block

	&-after
		max-width 190px

		font-size: 13px
		line-height: 1.4

		margin: 15px 0 0 70px


.header-addres
	font-size: 13px

	margin-left: 110px

	> a
		display block
		font-size: 20px
		font-weight: 700
		line-height: 1.4
		color white


.header-call
	// flex: 1 1 auto
	margin: 0 0 0 auto


.page
	padding: 110px 0 0