@import '../../styles/core/mixin.scss';

.container {
	z-index: 1001;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: var(--margin);
	color: #fff;

	@include medium {
		padding: rem(30px) var(--margin) 0;
	}
}

.inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}



.logo {
	display: block;
	max-width: rem(200px);

	@include medium {
		width: rem(180px);
		margin-right: rem(40px);
	}
}

.toggle {
	z-index: 1;
	display: block;
	margin: 0 0 0 auto;
	position: relative;
	width: rem(45px);
	height: rem(45px);

	cursor: pointer;

	@include medium {
		display: none;
	}

	> span {
		display: block;
		width: rem(45px);
		height: rem(3px);
		background: #fff;
		position: absolute;
		top: rem(21px);
		left: 50%;
		transform: translate(-50%, 0);
		transform-origin: 50%;
		transition: 0.2s var(--easing);

		&:nth-child(1) {
			transform: translate(-50%, -1.25rem);
		}
		&:nth-child(2) {
			transform: translate(-50%, 0);
		}
		&:nth-child(3) {
			transform: translate(-50%, 1.25rem);
		}

		.is-header &:nth-child(1) {
			transform: translate(-50%, 0) rotate(45deg);
		}
		.is-header &:nth-child(2) {
			width: rem(0px);
		}
		.is-header &:nth-child(3) {
			transform: translate(-50%, 0) rotate(-45deg);
		}
	}
}





.nav > a,
.nav > span {
	font-family: 'Aleo', Helvetica, Arial, sans-serif;
	font-size: rem(20px);
	line-height: 1.44;
	font-weight: 700;
	color: inherit;
}

@include small {

	.wrap {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		width: 70vw;
		height: 100vh;

		background: #000;
		color: #fff;
		// display: flex;
		// flex: 1 0 auto;
		// flex-flow: row nowrap;
		// justify-content: space-between;
		// align-items: center;
	}

	.overflow {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .3);
	}

	.nav {
		position: relative;
		// flex: 1 0 auto;
		// margin: 0 rem(40px) 0 0;
		padding: rem(30px);
		display: flex;
		flex-flow: column nowrap;
		// justify-content: space-between;

		> a,
		> span {
			font-size: rem(16px);
			padding: 0 0 rem(20px);
		}

		> span {
			position: relative;

			> span::after {
				content: '';
				display: inline-block;
				vertical-align: middle;
				margin-left: rem(5px);
				width: 0;
				height: 0;
				border-left: rem(5px) solid transparent;
				border-right: rem(5px) solid transparent;
				border-top: rem(7px) solid #fff;
			}
		}


		> span:hover > ul {
			> li {
			}
		}

		> span > ul {
			margin: 0;
			padding: rem(5px) 0 0 rem(10px);
		}

		> span > ul > li {
			display: block;
			color: #fff;
			padding: rem(5px);
			// padding: rem(5px) rem(10px);
		}

		> span > ul > li > a {
			color: inherit;
			// text-decoration: none;
		}

	}

}


@include medium {

	.wrap {
		display: flex;
		flex: 1 0 auto;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	.nav {
		flex: 1 0 auto;
		margin: 0 rem(40px) 0 0;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;

		> a,
		> span {
			font-size: rem(18px);
		}

		> span {
			position: relative;
			cursor: pointer;

			&::after {
				content: '';
				display: inline-block;
				vertical-align: middle;
				margin-left: rem(3px);
				width: 0;
				height: 0;
				border-left: rem(5px) solid transparent;
				border-right: rem(5px) solid transparent;
				border-top: rem(7px) solid #fff;
			}
		}
		

		> span:hover > ul {
			pointer-events: inherit;
			> li {
				opacity: 1;
				transform: translate(0);

				&:hover {
					background: #fe6128;
				}
			}
		}

		> span > ul {
			pointer-events: none;
			margin: 0;
			padding: rem(5px) 0 0;
			position: absolute;
			top: 100%;
			right: -5%;
			transform: skewX(-7deg);
		}

		> span > ul > li {
			display: block;
			text-align: right;
			opacity: 0;
			transition: 0.15s;
			transform: translate(0, -50%);
			background: #c64618;
			color: #fff;
			padding: rem(5px) rem(10px);
		}

		> span > ul > li:nth-child(1) {
			transition: .15s 0.06666666666666667s, background .15s;
		}

		> span > ul > li:nth-child(2) {
			transition: .15s 0.13333333333333333s, background .15s;
		}

		> span > ul > li:nth-child(3) {
			transition: .15s 0.2s, background .15s;
		}

		> span > ul > li:nth-child(4) {
			transition: .15s 0.26666666666666666s, background .15s;
		}

		> span > ul > li:nth-child(5) {
			transition: .15s 0.3333333333333333s, background .15s;
		}

		> span > ul > li:nth-child(6) {
			transition: .15s 0.4s, background .15s;
		}

		> span > ul > li:nth-child(7) {
			transition: .15s 0.4666666666666667s, background .15s;
		}

		> span > ul > li > a {
			color: inherit;
			text-decoration: none;
		}
	}
}

.address {
	display: none;
	font-size: rem(20px);
	font-family: 'Aleo', Helvetica, Arial, sans-serif;
	color: #C9C9C9;
	margin: 0 0 0 auto;
	text-align: right;

	@include medium {
		display: block;
		position: absolute;
		top: 100%;
		right: var(--margin);
		
		margin: var(--margin) 0 0 rem(110px);

		> span {
			display: block;
		}
	}
	
	> a {
		display: block;
		font-size: rem(30px);
		font-weight: 500;
		line-height: 1.4;
		color: #fff;
	}
}

.call {
	display: none;
	margin: 0 0 0 auto;

	@include medium {
		display: block;
	}
}