@import '../../styles/core/mixin.scss';

.container {
	position: relative;
	width: 100%;
	padding: rem(135px) var(--margin) rem(95px);
	background: no-repeat center/cover #000;

	@include medium {
		padding: rem(255px) var(--margin) rem(215px);
	}

	&::before {
		content: '';
		background: url("/img/heading-bg.svg") no-repeat bottom center/100% auto;
		pointer-events: none;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding-bottom: 50%;
		// box-shadow: inset 0 calc(-1 * #{rem(1px)}) 0 #f8f8f9;
	}
}


.inner {
	display: flex;
	align-items: center;
	justify-content: center;
}


.title {
	text-align: center;
	color: #fff;
	font-size: rem(42px);
	line-height: 1.2;
	font-weight: 600;

	> small {
		display: block;
		font-size: rem(28px);
		font-weight: 400;
		margin-top: rem(5px)
	}

	@include medium {
		font-size: rem(80px);

		> small {
			font-size: rem(36px);
		}
	}
}


.action {
	font-family: 'Aleo', Helvetica, Arial, sans-serif;
	font-size: rem(18px);
	font-weight: 700;
	color: #f25a23;
	background: transparent;
	text-transform: uppercase;

	&::before {
		display: none;
	}

	&:hover,
	&:focus,
	&.active,
	&:disabled {
		color: #f25a23;
		background: transparent;
		text-decoration: underline;

		&::before {
			display: none;
		}
	}
}

