@import '../../styles/core/mixin.scss';

.container {
	padding: rem(70px) var(--margin);
	background: url("/img/about-bg.jpg") no-repeat top center/100% auto;
}

.title {
	text-transform: uppercase;
	color: #464646;
	margin: 0 0 rem(70px);

	&::before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		background: url("data:image/svg+xml,%0A%3Csvg width='38px' height='46px' viewBox='0 0 38 46' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='snape' fill='%23FE6128'%3E%3Cpath d='M38,19.0802 C38,8.54269 29.4932,0 19,0 C8.5068,0 0,8.54269 0,19.0802 C0,24.3521 2.13281,29.1201 5.57444,32.5737 L5.56505,32.5831 L19.1057,46 L25.593,39.3974 L12.1937,26.1207 L12.2031,26.1112 C10.3756,24.3294 9.2363,21.8402 9.2363,19.0802 C9.2363,13.6657 13.6076,9.2759 18.9994,9.2759 C24.3911,9.2759 28.7625,13.6657 28.7625,19.0802 C28.7625,21.8402 27.6225,24.3294 25.7951,26.1112 L25.8032,26.1194 L22.4904,29.4914 L29.064,36.0047 L32.4337,32.5756 L32.4281,32.5699 C35.8685,29.1169 38,24.3502 38,19.0802 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center/contain;
		width: rem(38px);
		height: rem(46px);
		margin: 0 rem(15px) 0 0;
	}
}


.inner {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}


.item {
	position: relative;
	flex: 0 0 50%;
	padding: 0 rem(15px);
	margin-bottom: rem(50px);

	.wrap {
		font-size: rem(14px);
		color: #a7a7a7;
		background: #2d2d2d;
		border-left: rem(4px) solid #fe6128;
		text-align: center;
		transform: skewX(-10deg);
		padding: 0 rem(15px) rem(30px);
	}

	.index {
		font-size: rem(72px);
		line-height: rem(48px);
		font-weight: 500;
		font-style: italic;
		color: #fe6128;
		transform: translateY(-45%);
	}

	.value {
		font-size: rem(20px);
		line-height: 1.3;
		color: #fff;
		margin-bottom: rem(10px);
	}

	@include medium {
		flex: 0 0 25%;

		&:last-child::before {
			display: none !important;
		}

		&:nth-child(even) {
			margin-top: rem(50px);
			transform: translateX(-3%);
		}

		&:nth-child(even)::before {
			content: '';
			background: url("data:image/svg+xml,%3Csvg width='139' height='54' viewBox='0 0 139 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M135.763 14.1061C63.6348 -15.6899 12.7285 32.7821 4.57167 53.3665' stroke='%23FE6128' stroke-width='2' stroke-dasharray='10 10'/%3E%3C/svg%3E%0A") no-repeat center/contain;
			position: absolute;
			bottom: 115%;
			left: 85%;
			display: block;
			width: rem(139px);
			height: rem(54px);
			transform: rotate(-3.8deg);
		}

		&:nth-child(odd)::before {
			content: '';
			background: url("data:image/svg+xml,%3Csvg width='197' height='102' viewBox='0 0 197 102' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99463 0.973389C12.0435 26.2206 27.8193 64.6268 60.6197 83.2445C98.5653 104.783 175.152 88.1613 192.004 62.0768' stroke='%23FE6128' stroke-width='2' stroke-dasharray='10 10'/%3E%3C/svg%3E%0A") no-repeat center/contain;
			position: absolute;
			top: 105%;
			left: 60%;
			display: block;
			width: rem(197px);
			height: rem(102px);
			transform: rotate(-0.5deg);
		}
	}
}


.desc {
	font-size: rem(14px);
	font-weight: 300;

	&Wrap {
		margin: rem(20px) 0 0;
	}

	&List {
		display: flex;
		flex-flow: row wrap;
		margin-left: calc(-1 * var(--margin));
	}

	&Item {
		flex: 0 0 50%;
		padding: 0 0 rem(40px) var(--margin);

		> span {
			display: block;
			font-size: rem(80px);
			font-weight: 200;
			line-height: 1;
			white-space: nowrap;
		}
	}

	@include medium {
		margin: rem(60px) 0 0;
		padding-left: calc(50% + #{rem(45px)});

		&Wrap {
			background: url("/img/about-img.png") no-repeat center left/50% auto;
		}

		&Item {
			flex: 0 0 rem(270px);
			padding: 0 rem(50px) rem(50px) 0;
		}
	}
}
