
.edge
	padding: 70px 0 30px
	background: #F8F8F9

	&-inner
		display flex
		flex-flow: row wrap
		align-items: flex-start
		justify-content space-around

	+screen-medium()
		// padding: 70px 0 30px



.edge-item
	position relative
	flex: 0 0 200px
	// margin: 0 0 0 20px
	padding: 0 15px
	margin-bottom: 30px

	+screen-medium()
		flex: 0 0 360px

	&-inner
		font-size: 16px
		color #777
		text-align center

		padding: 0 15px 30px

	&-img
		margin: 0 auto 15px
		max-width 60px

		+screen-medium()
			max-width 70px

	&-value
		font-size: 20px
		line-height: 1.3
		font-weight: 600
		color #464646
		margin-bottom: 10px

	&-label
		// 
