
.footer
	position relative
	width: 100%
	padding: 75px 0 50px
	background: url(/img/footer-bg.svg) no-repeat top center / cover

	&-inner
		display flex
		flex-flow: column nowrap
		align-items: center

	+screen-medium()
		padding: 75px 0 50px

		&-inner
			flex-flow: row nowrap
			justify-content: space-between


.footer-logo
	max-width 240px
	margin: 0 0 base-margin
	
	+screen-medium()
		flex: 0 0 200px
		max-width auto
		margin: 0


.footer-addres
	text-align center
	padding: 0 0 25px

	color white
	font-family: 'Aleo', Helvetica, Arial, sans-serif
	font-size: 16px
	line-height: 28px

	> span
		display block

	> a
		color: inherit
		font-size: 25px
	
	+screen-medium()
		flex: 1 0 auto
		padding: 0 25px 0 0
		text-align right


.footer-call
	// 
