
.step
	padding: 40px 0 10px
	// background: #2C2C2C
	background: url(/img/step-polish-01.jpg) no-repeat center left 380px / auto 100% #2C2C2C

	&-inner
		display flex
		flex-flow: column wrap
		align-items: flex-start

	+screen-medium()
		// 



.step-item
	position relative
	width: 100%
	
	// flex: 0 0 410px
	// margin: 0 0 0 20px
	margin-bottom: 30px

	cursor pointer

	+screen-medium()
		width: 420px

		&::before
			content ''
			display block
			width: 0
			height 3px
			background: #595959
			transition: .2s $easing

			position absolute
			top 30px
			left 90%

	&-inner
		font-size: 14px
		color #A7A7A7
		background: #2C2C2C;
		border: 3px solid #595959
		padding: 15px 60px 15px 20px 

		transition: border .15s $easing

	&-index
		font-size: 16px
		font-weight: 600
		color #31D2F7
		margin-bottom: 5px


	&-value
		font-size: 20px
		line-height: 1.4
		// font-weight: 600
		color #fff

	&-label
		margin-top: 5px


	&.active,
	&:hover
		.step-item-inner
			border-color: #31D2F7

	&.active

		+screen-medium()

			&::before
				width: 140px
				background-color: #31D2F7
		
		.step-item-inner
			border-color: #31D2F7

