doctype html
html
	head
		block head
			meta(charset='utf-8')
			meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
			link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i&display=swap&subset=cyrillic')
			link(rel='stylesheet' href='/assets/styles.css')
			//- script(src='/vendor/jquery.js')

	body
		.body-inner

			.header: .container: .header-inner

				a.header-logo(href='/')
					img(src='/img/logo.svg' alt='avto life - styling and detailing')

				a.header-home(href='/')

				a.header-toggle(href='#') #[span]#[span]#[span]

				.header-nav-overflow
				.header-nav-wrap

					.header-nav
						a(href='/services/polishing') Полировка
						a(href='/services/cleaning') Химчистка
						span
							span Защита
							ul
								li: a(href='/services/protection') Бронирование
								li: a(href='/services/ceramics') Керамика
								li: a(href='/services/alarm') Уст.сигнализации
						span
							span Тонировка
							ul
								li: a(href='/services/tinting-auto') Автоматическая
								li: a(href='/services/tinting-removable') Съемная
								li: a(href='/services/tinting-athermal') Атермальная
								li: a(href='/services/tinting-gost') по ГОСТу
								li: a(href='/services/tinting-light') Тонировка фар
						a(href='/services/soundproofing') Шумоизоляция
						a(href='/services/learning') Обучение

					.header-call: a.button.text-uppercase.text-bold(href='#call') Записаться

					.header-addres
						span г. Омск, ул. Химиков, 60
						a(href='tel:83812492500') 8 (3812) 49-25-00
						a(href='tel:89083156307') 8 (908) 315-63-07


			block body


			.footer: .container: .footer-inner
				a.footer-logo(href='/')
					img(src='/img/logo.svg' alt='avto life - styling and detailing')

				.footer-addres
					span г. Омск, ул. Химиков, 60
					a(href='tel:+73812492500') +7 (3812) 49-25-00

				.footer-call
					a.button.text-uppercase.text-bold(href='#call') Заказать звонок


		#call.modal.hidden
			//- 


		script(src='/assets/app.js')